{% extends 'base.html' %}

{% block title %} Memento {% endblock %}

{% block content %}

<!-- Masthead-->

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div id="description" class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Memento</h1>
            <h2 class="text-white-50 mx-auto mb-5 mt-4">For all your treasured memories and stories to keep.</h2> 
            <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
        </div>
    </div>
    <div id="get-started" class="container d-flex w-50 align-items-center">
        <div class="mx-auto text-center">
            {% comment %} <a id="get-started-btn" class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a> {% endcomment %}
        </div>
    </div>
</header> 

        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 id="souvenir" class="text-white mb-4 mt-1">Photo Books to keep as Souvenirs.</h2>
                        <p class="text-white-50 mb-5">
                            Celebrate all your instants of life captured for eternity.
                        </p>
                    </div>
                </div>
                <img src="https://images.unsplash.com/photo-1512580770426-cbed71c40e94?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1982&q=80" alt="" class="pic-2">
                <img class="img-fluid mt-5" src="https://images.pexels.com/photos/159850/book-glasses-read-professional-reading-159850.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                {% load static %}  <img src="{% static 'images/img.jpg' %}" alt="" class="pic-1 mt-5">
            </div>
        </section>

{% endblock %}