{% extends 'base.html' %}

{% block title %} Memento {% endblock %}

{% block content %}

<!-- Masthead-->

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div id="description" class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Memento</h1>
            <h2 class="text-white-50 mx-auto mb-5 mt-4">For all your treasured memories and stories to keep.</h2> 
            <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
        </div>
    </div>
</header> 

        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 id="souvenir" class="text-white mb-4 mt-1">Photo Books to cherish as Souvenirs.</h2>
                        <p class="text-white-50 mb-5">
                            Savor the timelessness of your captured moments.
                        </p>
                    </div>
                </div>
                <img src="https://images.unsplash.com/photo-1512580770426-cbed71c40e94?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1982&q=80" alt="" class="pic-1">
                <img src="https://images.unsplash.com/photo-1590115336773-1c9b8fd62c7f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="" class="pic-6 mt-5">
            </div>
                    <div class="col-lg-8 mx-auto mt-5">
                            <a class="btn btn-primary js-scroll-trigger mb-5" href="/about">Browse More <i class="fas fa-angle-double-right"></i></a>
                    </div>
        </section>

{% endblock %}