{% extends 'base.html' %}

{% block title %} My Photo Books {% endblock %}

{% block content %}

<!-- All Photo Books -->

<section class="about-section text-center" id="about">

    <div class="col-lg-8 mx-auto">
        <h2 class="text-white mt-5"></h2>
    <div lass="col-lg-8 mx-auto">

<div class="container mt-5">
            <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Photo Book One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img id="celadon" class="img-fluid" src="https://i.pinimg.com/736x/12/f4/09/12f409d9fe4fd48c8eeffc6e8b40df87.jpg" alt="" />
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                {% for photobook in photobooks %}
                                <h4 id="name1"></br>
                                {{ photobook.name }}<h4>
                                {% endfor %}
                                <a id="add-photo" class="btn btn-primary mt-5" href="{% url 'add' %}">Add</a>
                                    <a id="view" class="btn btn-primary mt-5" href="{% url 'photo' 1 %}">View</a>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>

{% for photo in photos %}

<section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Photo Book One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img id="celadon" class="img-fluid" src="{photo.image.url}" alt="" />
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                {% for photobook in photobooks %}
                                <h4 id="name1"></br>
                                {{ photobook.name }}<h4>
                                {% endfor %}
                                <a id="add-photo" class="btn btn-primary mt-5" href="{% url 'add' %}">Add</a>
                                    <a id="view" class="btn btn-primary mt-5" href="{% url 'photo' 1 %}">View</a>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>

{% endfor %}


                {% comment %} <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="{{photo.image.url}}" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">{{ photobook.name }}</h4>
                                    <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}


        <!-- Share Option -->
        <section class="share-section" id="share"> 
            <div class="container">
                <div id="row-share" class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                            <h2 class="text-white mb-5">Are you a proud Memento Parent?</h2>
                            <h2 class="text-white mb-5">Brighten up someone's day by sharing {{ photobook.name }} <h2>
                        <form class="form-inline d-flex">
                            <input id="input-email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Enter email address..." />
                            <button class="btn btn-primary btn btn-sm mx-auto" type="submit">Share</button>
                        </form>
                    </div>
                </div>
            </div>
        </section> 

    </div>

</div>

</section>



{% endblock %}