{% extends 'base.html' %}

{% block title %} My Photo Books {% endblock %}

{% block content %}

<!-- All Photo Books -->

<section class="about-section text-center" id="about">

    <div class="col-lg-8 mx-auto">
        <h2 class="text-white mt-5">Your Photo Books</h2>
    <div lass="col-lg-8 mx-auto">

<div class="container mt-5">

    <a id="add-photo" class="btn btn-primary mb-5" href="{% url 'add' %}">Add a Photo</a>
    {% comment %} <div class="row"> {% endcomment %}
                
        <section class="projects-section bg-light" id="projects">
        <div class="container">
        
            <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Photo Book One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img id="celadon" class="img-fluid" src="https://i.pinimg.com/736x/12/f4/09/12f409d9fe4fd48c8eeffc6e8b40df87.jpg" alt="" />
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                {% for photobook in photobooks %}
                                <h4 class="list-group-item">{{ photobook.name }}<h4>
                                {% endfor %}
                                    {% comment %} <p class="mb-0 text-white-50 mt-5">Photo Book based off of the Celadon Theme</p> {% endcomment %}
                                    <a id="view" class="btn btn-primary mt-5" href="{% url 'photo' 1 %}">View</a>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                {% for photo in photos %}

                <!-- Photo Book Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img id="lavender" class="img-fluid" src="{{photo.image.url}}" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Lavender</h4>
                                    <p class="mb-0 text-white-50">Photo Book based off of the Lavender Theme</p>
                                    <a id="view" class="btn btn-primary mt-5" href="{% url 'photo' 2 %}">View</a>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div> 

                {% endfor %}
    

    </div>

</div>

</section>



{% endblock %}